extends ../layout

block head
  title Home


block content
  #bufu.container.hero
    .text
      h1 Distorsione
      h2 della
      h3 realtà
  #777.container-fluid.page1
    .text
      h1 Diversi tipi di illusione
    
    .row 
      .example1
        .col-sm-3
          .font1
            h1 Consapevole
        
        .col-sm-3
          .font2
            h1 Inconsapevole
        
        .col-sm-3
          .font3
            h1 Individuale
        
        .col-sm-3
          .font4
            h1 Sociale
         
        
    
          

  
  
  #gang.container-fluid.page1
    .row
      .col-sm-6
        img(src:='../images/head.png')

  .container.page1

    
