extends ../layout

block head
  title Home
 

block content
  .container.hero
    .text
      h1 Distorsione
      h2 della
      h3 realtà
  .container.page1
    .text
      h1 Diversi tipi di illusione
      div class="row"
        div class="col-sm-4" style="background-color:lavender;".col-sm-4
        div class="col-sm-4" style="background-color:lavenderblush;".col-sm-4
        div class="col-sm-4" style="background-color:lavender;".col-sm-4
  
