 /*@import url("../fonts/fonts/Indie_Flower/IndieFlower.ttf");*/

 @import url('https://fonts.googleapis.com/css?family=Indie+Flower|Kumar+One|Baloo+Bhaina|Barrio|Bubbler+One|Keania+One|Lobster|Abril+Fatface');
 body {
   background-color: white;
 }

 footer {
   background-color: black;
   color: white;
 }

 .my-nav {
   position: fixed;
   width: 100%;
   background-color: #1d3fa5;
   height: 10vh;
   border: none;
   z-index: 2;
 }

 .hero {
   height: 100vh;
   /*background-image: url('../images/bolle.jpg');*/
   background-color: #fcf9f3;
  
   padding-top: 10vh;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   width: 100%;
 }

 .hero .text {
   position: absolute;
   left: 50%;
   top: 35%;
   transform: translateX(-50%);
   text-align: center;
   color: #1d3fa5;
   -webkit-animation: mymove 5s infinite;
   animation: mymove 5s infinite;
 }

 @-webkit-keyframes mymove {
  50% {color:#fcf9f3 ;} 
  /*50% {color: white; } */
   
 }

 .hero .text h1 {
   font-size: 450%;
   font-family: 'Kumar One', cursive;
 }

 .hero .text h2 {
   font-size: 350%;
   font-family: 'Indie Flower', cursive;
 }

 .hero .text h3 {
   font-size: 450%;
   font-family: 'Kumar One', cursive;
 }

.page1 {
   height: 100vh;
   background-color: #fcf9f3;
   padding-top: 10vh;
   /*background-image: url('../images/escher mani.jpg');*/
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   width: 100%;
   
   
   color: #1d3fa5;
   
 }
 
 .page1 .text h1 {
   font-family: 'Indie Flower', cursive;
   /*color: #f65828;*/
   padding-top: 10vh;
   text-align: center;
 }

 .page1 .example1 {

  /*padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px; 
  border: 1px solid red;
  */
  position: center center;
  /*background-image: url('../images/massa.png');*/
  background-size: cover;
  text-align: center;
  padding-top: 15vh;

 
  }

.font1{
  font-family: 'Baloo Bhaina', cursive;
   

}
.font2{
  font-family: 'Lobster', cursive;
}

.font3{
  font-family: 'Abril Fatface', cursive;
  
}

.font4{
  font-family: 'Keania One', cursive;
}


.bgMassa{
  background-image: url('../images/massa.png');
}

.page1 .example2 {
  background-image: url('../images/head.png');
  z-index: 4;
  
  
}
 #logo {
   max-height: 30px;
 }
