 /*@import url("../fonts/fonts/Indie_Flower/IndieFlower.ttf");*/

 @import url('../fonts/fonts/mainfonts.css');
 body {
   background-color: white;
  
 }

footer {
   background-color: black;
   color: white;
 }

 .my-nav {
   position: fixed;
   width: 100%;
   /*background-color: #1d3fa5;*/
   background: #1A2980;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   height: 10vh;
   border: none;
   z-index: 2;
   color: white;
 }

.my-nav a { 
  
  color: white !important;}

.my-nav li :hover {
  background-color: white !important;
  color: #1A2980 !important;
  
}

.my-nav li :active{
  background-color: white !important;

}


 .hero {
    height: 100vh;
    /*background-image: url('../images/bolle.jpg');*/
    /*background-color: #fcf9f3;*/
    background: #1A2980;  /* fallback for old browsers */
 background: -webkit-linear-gradient(left, #26D0CE, #1A2980);
 background: -moz-linear-gradient(left, #26D0CE, #1A2980);
 background: -o-linear-gradient(left, #26D0CE, #1A2980);
 background: linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
    padding-top: 10vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
  }

 .hero .text {
   position: absolute;
   left: 50%;
   top: 35%;
   transform: translateX(-50%);
   text-align: center;
   /*color: #1d3fa5;*/
   color: white;
   opacity: 0;
   -webkit-animation: mymove 6s infinite;
   animation: mymove 6s infinite;
 }

 @-webkit-keyframes mymove {
  50% {opacity: 1;}
  /*50% {color:#fcf9f3 ;} */
  /*50% {color: white; } */
   
 }

 .hero .text h1 {
   font-size: 450%;
   font-family: 'Kumar One', cursive;
 }

 .hero .text h2 {
   font-size: 350%;
   font-family: 'Indie Flower', cursive;
 }

 .hero .text h3 {
   font-size: 450%;
   font-family: 'Kumar One', cursive;
 }

.page1 {
   height: 100vh;
   /*background-color: #fcf9f3;*/
  background: #1A2980;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   /*background-image: url('../images/escher mani.jpg');*/
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   width: 100%;
   
   
   color: white;
   
 }
 
 .page1 .text h1 {
   font-family: 'Indie Flower', cursive;
   /*color: #f65828;*/
   padding-top: 10vh;
   text-align: center;
 }

 .page1 .example1 {

  
  position: center center;
  /*background-image: url('../images/massa.png');*/
  background-size: cover;
  text-align: center;
  padding-top: 10vh;

 
  }

.font1{
  font-family: 'Baloo Bhaina', cursive;
   

}
.font2{
  font-family: 'Lobster', cursive;
}

.font3{
  font-family: 'Abril Fatface', cursive;
  
}

.font4{
  font-family: 'Keania One', cursive;
}


.bgMassa{
  background-image: url('../images/massa.png');
}

.page1 .example2 {
  background-image: url('../images/head.png');
  z-index: 4;
}

.pen {

  background-image: url('../images/pen2.svg');
  background-size:50%; 
  height: 70vh;
  background-repeat: no-repeat;
  background-position: top;
}



.es3{
  background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
 height: 75vh;
 background-image: url('../images/hand.jpg');
 border-radius: 200px;
}

.es4{
  background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
 background-image: url('../images/angelsdevils.jpg');
 height: 75vh;
 border-radius: 200px;
}
 
.es2{
  background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
 background-image: url('../images/work.jpg');
 height: 75vh;
 border-radius: 200px;
}

.es1{
 background-image: url( '../images/pittore2.png');
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
 border-radius: 200px;
 height: 75vh;
}

.es5{
  background-image: url('../images/einstein.jpg');
  background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
 border-radius: 200px;
 height: 75vh;
}


 #logo {
   max-height: 30px;
 }
