
#bufu.container.hero
    .text
        h1 Distorsione
        h2 della
        h3 realtà
#777.container-fluid.page1
    .text
        h1 Diversi tipi di illusione

    .row 
        .example1
            .col-sm-6.pen
            
            .col-sm-6
                .font1
                    h1 Consapevole

            
                .font2
                    h1 Inconsapevole

            
                .font3
                    h1 Individuale

            
                .font4
                    h1 Sociale


#gang.container-fluid.page1
    .text
        h1 Individuale consapevole
    
    .row
        .col-sm-4.es1
            

                
        .col-sm-8
            .font2
                h1  « Dio, che cosa è la vita nostra! Una perenne zuffa della fantasia colla realtà! »
                |(Il pittore Piskarëv)
                
                h1 “I sogni diventarono infine tutta la sua vita e da allora la sua esistenza prese uno strano andamento: si può dire che dormisse quand'era sveglio e vivesse quando dormiva”
                | (La prospettiva Nevskij; Nikolaj Gogol)


#supreme.container.page1
    .text
        h1 Sociale consapevole

    .row
        .col-sm-4.es2

        .col-sm-8.font2
            h1 «Ad ogni angolo di strada il sentimento dell’assurdità potrebbe colpire un uomo in faccia.»
            |(Albert Camus)

            h1 «La carità comincia a casa propria, e la giustizia dalla porta accanto.»
            |(Charles Dickens)


#trap.container.page1
    .text
        h1 Individuale inconsapevole

    .row
        .col-sm-4.es3

        .col-sm-8.font2
            h1 «Mi si fissò invece il pensiero ch'io non ero per gli altri quel che finora, dentro di me, m'ero figurato d'essere.»
            |(Uno, nessuno, centomila; Luigi Pirandello)

            h1 «L'Io non è padrone in casa sua.»
            | (Sigmund Freud)

#tony.container.page1
    .text
        h1 Sociale inconsapevole

    .row
        .col-sm-4.es4
        
        .col-sm-8.font2
            h1 «Bullies may be the perpetrators of evil, but it is the evil of passivity of all those who know what is happening and never intervene that perpetuates such abuse.»
            | (Phillip Zimbardo)

            h1 «La triste verità è che molto del male viene compiuto da persone che non si decidono mai ad essere buone o cattive.»
            |(Annah Arendt)
            
#caramelle.container.page1
    .text
        h1 Realtà come soggetto
    
    .row
        .col-sm-4.es5

        .col-sm-8.font2
            h1 «Nella teoria della relatività non esiste un unico tempo assoluto, ma ogni singolo individuo ha una propria personale misura del tempo, che dipende da dove si trova e da come si sta muovendo.»
            |(Stephen Hawking)

            
            
